@font-face {
  font-family: 'DoodlesOfFun';
  src: url('./../fonts/DoodlesOfFun.eot') format('embedded-opentype'),url('./../fonts/DoodlesOfFun.woff') format('woff'), url('./../fonts/DoodlesOfFun.ttf')  format('truetype'), url('./../fonts/DoodlesOfFun.svg') format('svg');
 
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'mosklight_300';
    src: url('./../fonts/mosk_light_300-webfont.woff2') format('woff2'),
         url('./../fonts/mosk_light_300-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mosk_normal_400regular';
    src: url('./../fonts/mosk_normal_400_0-webfont.woff2') format('woff2'),
         url('./../fonts/mosk_normal_400_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'moskmedium_500';
    src: url('./../fonts/mosk_medium_500-webfont.woff2') format('woff2'),
         url('./../fonts/mosk_medium_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mosksemi-bold_600';
    src: url('./../fonts/mosk_semi-bold_600-webfont.woff2') format('woff2'),
         url('./../fonts/mosk_semi-bold_600-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,html
{
	height: 100%;
}
body
{
	  font-family: 'DoodlesOfFun';
	 font-size: 16px;
	 color: #000;
}
.wrapper
{
	width: 100%;
	height: 100%;
}
.home
{
	position: relative;
	height: 100%;
}
.home img.home1
{
	z-index: 10;
	left: 0;
	top: 0;

}
.home img.home2
{
	z-index: 10;
	left: 0;
	top: 0;

}
.small
{
	display: none;
}

nav
{
	font-family: 'mosklight_300';
	position: absolute;
	font-size: 16px;
    width: 100%;
    color: #fbe61f;
    height: 50px;
    background-color: #0c2d87;
    left: 0;
    top: 0;
    z-index: 100;
}
.navbar-default
{
	background-color: #0c2d87;
	border: none;
}
.navbar-default .navbar-nav>li>a 
{
	color: #e0e325;	
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fbfbfb;
    cursor: pointer;
    background-color: #ec268f;
    }
.navbar-collapse a
{
    background-color: #0c2d87;
}
.navbar-collapse a:hover
{
    background-color: ec268f;
}

.brand1
{
	background-color: #ffcc29;
	height: 640px;
	display: table;
	line-height: 680px;
	vertical-align: middle;
}
.table-cell
{
	display: table-cell;
	vertical-align: middle;
}
.brand1 img
{
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.brand2
{
	background-color: #8f177b;
	color: #ffcc29;
	font-size: 35px;
	min-height: 640px;
}
.brand2 p
{
	font-size: 60px;

}
.padd
{
	padding: 75px 0;
}
.brand3 h1
{

	color: #8f177b;
	font-size: 60px;
}
.brand3 h2
{
	padding: 40px 0;
}


.bou1
{
	animation-delay: 1s;
}
.bou2
{
	animation-delay: 1.5s;
}
.bou3
{
	animation-delay: 2s;
}
.bou4
{
	animation-delay: 2.5s;
}
.bou5
{
	animation-delay: 3s;
}
.contact1
{
    padding-top: 10px;
	line-height: 1.8;
}
.main
{
	background-color: #fbe61f;
	position: absolute;
	left: 11%;
	top: 10em;
	width:350px;
	z-index: 100;
}
.blue
{
	background-color: #0c2d87;
	color: #fbe61f;
	text-align: justify;font-size: 24px;
	padding: 15px 25px;
}
.yellow
{
	font-size:45px;
	color:#0c2d87;
	padding: 1px 25px;
	line-height: 1.2;
}
.btn1
{
	position: absolute;
	left: 15%;
    top: 34em;
	z-index: 100;

}

.know a
{
	background-color: #fbe61f;
	color: #0c2d87;
	padding: 16px;
	display: inline-block;
	font-size: 28px;
	text-decoration: none;
	cursor: pointer;
}

.ind a
{
	background-color: #0c2d87;
	color:#e0e325;
	padding: 16px 36px;
	display: inline-block;
	font-size: 28px;
	text-decoration: none;
	cursor: pointer;

}

.rnt1
{
	background-color: #fb3b1c;
	padding: 10px 0;
	min-height: 680px;
}
.rnt2
{
	background-color: #1ac5f0;
	padding: 10px 0;
	min-height: 680px;

}
.rnt3
{
	background-color: #e0e325;
	padding: 10px 0;
	min-height: 680px;

}
.rnt2 .p2
{
	padding-top: 62px;
}
.rnt1 .p2
{
	padding-top: 24px;
}
.rnt1 .p1, .rnt1 .p2
{
	visibility: hidden;
}
.rnt1:hover .p1,.rnt1:hover .p2
{
	visibility: visible;
}

.rnt2 .p3, .rnt2 .p2
{
	visibility: hidden;
}
.rnt2:hover .p3,.rnt2:hover .p2
{
	visibility: visible;
}

.rnt3 .p4, .rnt3 .p2
{
	visibility: hidden;
}
.rnt3:hover .p4,.rnt3:hover .p2
{
	visibility: visible;
}
.carousel-indicators {
    bottom: 45px;
}


.Rnt .p2
{
	font-size: 28px;
}
.Rnt .p1
{
	font-size: 45px;
	color: #e0e325;
	line-height: 1.1;
}
.Rnt .p3
{
	font-size: 45px;
	color: #0c2d87;
	line-height: 1.1;
}
.Rnt .p4
{
	font-size: 45px;
	color: #064f13;
	line-height: 1.1;
}

.service
{
	padding-right: 0px!important;
	padding-left: 0px!important;
}
#service
{
	background-color: #ec268f;
}
#service h1
{
	margin: 0px;
	padding: 10px;
	font-size: 50px;
	color: #fff;
}

.bx-wrapper{max-width: 1350px!important;position: relative;} 
.caption_one
{
	position: absolute;
	top: 30%;
	left: 40%;
	font-size: 40px;
	color:#0c2d87;
	font-family: 'DoodlesOfFun';
}
.caption_two
{
	position: absolute;
	top:50%;
	left: 40%;
	font-size: 24px;
	color:#ec268f;
	font-family: 'mosklight_300';
}
.caption_three
{
	position: absolute;
	top:75%;
	left: 30%;
	color: #ec268f;
	font-size: 40px;
	font-family: 'DoodlesOfFun';
}
.carousel-control.left {
    background-image:none;
}
.carousel-control.right {
    background-image:none;
}
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    display: inline-block;
    width: 15px;
    height: 15px;
}
/*@keyframes slidy {
0% { left: 0%; }
30% { left: 0%; }
34% { left: -100%; }
63% { left: -100%; }
67% { left: -200%; }
100% { left: -200%; }
}*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
99.99% { left: -300%; }	
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 25%; float: left; }
div#slider figure { 
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 21s slidy infinite; 
}


.type3
{
	display: none;
}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {
    background-size: cover;
}
.strip1
{
	width: 100%;
	background-color: #ec268f;
	color: #fff;
}
.strip1 h1
{
	font-size: 50px;
	margin: 0px;
	padding: 10px;
}
.type2
{
	background-color: #fff;
}

.type1 .btn
{
	font-size: 20px;

}
.type1 h1
{
	position: absolute;
	top: 44%;
    left: 19%;
    font-size: 58px;
    color: #316791;

}

.btn
{
	line-height: 1;
}

.btnn1
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	background-color: #3bc1ce;
	font-size: 22px!important;
	position: absolute;
	top: 32%;
    left: 32.8%;
}
.btnn1:hover 
{
    background-color: #3bc1ce;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f1
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #3bc1ce;
	display: none;
}
.btnn1:hover .f1
{
	display: block;
	position: absolute;
    top: -95%;
    left: -107%;
}

.btnn2
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	background-color: #305f77;
	position: absolute;
    top: 51%;
    left: 41.6%;
    font-size: 17px!important;
}
.btnn2:hover 
{
    background-color: #305f77;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f2
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #305f77;
	display: none;
}
.btnn2:hover .f2
{
	display: block;
	position: absolute;
    top: 157%;
    left: -86%;
}
.btnn3
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	font-size: 18px!important;
	background-color: #f6903d;
	position: absolute;
    top: 32%;
    left: 50.5%;
}
.btnn3:hover 
{
    background-color: #f6903d;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f3
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #f6903d;
	display: none;
}
.btnn3:hover .f3
{
	display: block;
	position: absolute;
    top: -95%;
    left: -107%;
}
.btnn4
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	font-size: 24px!important;
	background-color: #ef525f;
	position: absolute;
    top: 51%;
    left: 59.3%;
}
.btnn4:hover 
{
    background-color: #ef525f;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f4
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #ef525f;
	display: none;
}
.btnn4:hover .f4
{
	display: block;
	position: absolute;
    top: 157%;
    left: -107%;
}
.btnn5
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	font-size: 24px!important;
	background-color: #f0b532;
	position: absolute;
    top: 32%;
    left: 68.2%;
}
.btnn5:hover 
{
    background-color: #f0b532;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f5
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #f0b532;
	display: none;
}
.btnn5:hover .f5
{
	display: block;
	position: absolute;
    top: -113%;
    left: -84%;
}
.btnn6
{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	font-family: 'mosksemi-bold_600';
	font-size: 24px!important;
	background-color: #316791;
	position: absolute;
    top: 51%;
    left: 77%;
}
.btnn6:hover 
{
    background-color: #316791;
    border-color: transparent;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.f6
{
	font-family: 'moskmedium_500';
	font-size: 20px;
	color: #316791;
	display: none;
}
.btnn6:hover .f6
{
	display: block;
	position: absolute;
    top: 157%;
    left: -59%;
}
.freedom
{
	position: relative;
}
.freedom .bird
{
	position: absolute;
	z-index: 999999;
	top: 32%;
	left: 20%;
}
.btnn7
{
	width: 179px;
	font-family: 'mosk_normal_400regular';
    height: 43px;
    border-radius: 5%;
    background-color: #eb268f;
    position: absolute;
    font-size: 20px;
    top: 79%;
    left: 44%;
}
.btn-primary {
    border-color: transparent;
}
.btn:active:focus, .btn:focus {
    outline: none;
}
.btnn8
{
	background: #0c2d87;
    width: 28px;
    height: 28px;
    color: #fff;
}
.btnn10
{
	background: #0c2d87;
    width: 28px;
    height: 28px;
    color: #fff;
}
.btnn9
{
	background: #ec268f;
    width: 28px;
    color: #fff;
}
#contact p
{
	color: #8f177b;
	font-size: 26px;
	text-align: center;
	padding-bottom: 20px;
	font-family: 'moskmedium_500';
}
.carousel-indicators .active
{
    background-color: #eb268f;
}
.carousel-indicators li
{
	border:1px solid #8f177b;
}

.popover-content {
    font-family: 'mosklight_300';
    background-color: #ec268f;
    color: #fbe61f;
    font-size: 20px;
    width: 500px;
}
.popover
{
	max-width: 510px;
}
.type1 ul li
{
	
	animation: type 4s steps(170);
	overflow: hidden;
	white-space: nowrap;
	font-size: 40px; 
}
@keyframes type{ 
  from { width: 0; } 
  to{width:600px;}
} 


 /* Revolution slider home 3*/
.tp-banner-container { width:100%; position:relative; padding:0; }
.tp-banner { width:100%; position:relative; }
.tp-banner img{width: 100%;}
.tp-banner-fullscreen-container { width:100%; position:relative; padding:0; }
.rev-slider-2 .tp-caption.title-1,.title-1 { font-size:45px; font-weight:500;  font-family: 'DoodlesOfFun'; color:#363636; text-decoration:none; background-color:transparent; padding:10px 10px 10px 10px;text-shadow:none; text-transform:capitalize; border-width:0px; border-color:rgb(0,0,0);line-height: 1.2; border-style:none}
.rev-slider-2 .tp-caption.title-1-blue,.title-1-blue { font-size:30px; font-weight:600;  font-family: 'DoodlesOfFun'; color:#28166f; text-decoration:none; background-color:transparent; padding:10px 10px 10px 10px; text-shadow:none; border-width:0px; border-color:rgb(0,0,0); border-style:none}
.rev-slider-2 .tp-caption.title-1-desc,.title-1-desc { font-weight:500;  font-family: 'mosklight_300'; color:#363636; text-decoration:none; background-color:transparent; padding:10px 10px 10px 10px;text-shadow:none; border-width:0px; border-color:rgb(0,0,0); border-style:none}
.rev-slider-2 .tp-caption.title-2,.title-2 { font-size:60px;  font-family: 'DoodlesOfFun'; color:#363636; text-decoration:none; background-color:transparent; padding:10px 10px 10px 10px;text-shadow:none; border-width:0px; border-color:rgb(0,0,0); border-style:none; }
.rev-slider-2 .tp-caption.text-white.title-2.sft.tp-resizeme { color: #363636; text-align: center; font-weight: 500; }
.rev-slider-2 .tp-caption.text-white.title-1-desc.sfl.tp-resizeme { color: #363636; } 



.nopadding
{
	margin: 0!important;
	padding: 0!important;
}
footer
{
	background-color: #0c2d87;
}
footer p
{
	color: #e0e325;
	padding: 20px;
	font-family: 'mosklight_300';
	margin: 0px;
}


.creative
{
	font-family: 'moskmedium_500';
    background-color:  #fff;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.creative h3
{
	padding: 50px 0;
}

.small1
{
	display: none;
}
.small2
{
	display: none;
}

/* Media Query */

@media only screen and (max-width: 1250px)
{
    .wrapper,.home{height: auto;}
}
@media only screen and (max-width: 1200px)
{
	#service h1{font-size: 45px;}
	.strip1 h1{font-size: 45px;}
	#contact p{font-size: 25px;}
	.type1{display: none;}
	.type3{display: block;}
	.small1{display: block;}
	.small1 .col-md-4, .small1 .col-sm4, .small1 .col-xs-12{padding-right: 0;padding-left: 0;}
	.large1{display: none;}
	.large2{display: none;}
	.small2{display: block;}
	.small2 .col-md-12{padding-right: 0;padding-left: 0;}
    .main
        {
            left: 15%;
            top: 20%;
            width:50%;
        }
    .main br
        {
            display: none;
        }
    .blue
        {
            font-family: 'mosk_normal_400regular';
            font-size: 24px;
            padding: 15px 25px;
        }
    .yellow
        {
        	text-align: center;
            font-size:45px;
            padding: 1px 25px;
            line-height: 1.2;
        }
    .btn1
        {
            left: 30%;
            top: 70%;
        }
    .know a
        {
            font-family: 'mosk_normal_400regular';
            padding: 14px;
            font-size: 26px;
        }
    .ind a
        { 
            font-family: 'mosk_normal_400regular';
            padding: 14px;
            font-size: 26px;
        }
}
@media only screen and (max-width: 1100px)
{
	#service h1{font-size: 43px;}
	.strip1 h1{font-size: 43px;}
	#contact p{font-size: 23px;}
    .contact1{display: none!important;}
    .main
        {
            width:50%;
        }
    .blue
        {
            font-size: 20px;
            padding: 12px 20px;
        }
    .yellow
        {
            font-size:36px;
            padding: 12px 20px;
        }
   
    .know a
        {
            padding: 11px;
            font-size: 20px;
        }
    .ind a
        { 
            padding: 11px;
            font-size: 20px;
        }
}
@media only screen and (max-width: 1000px)
{
	#service h1{font-size: 42px;}
	.strip1 h1{font-size: 42px;}
	#contact p{font-size: 23px;}
    .main
        {
            width:50%;
        }
    .blue
        {
            font-size: 16px;
            padding: 10px 16px;
        }
    .yellow
        {
            font-size:30px;
            padding: 10px 16px;
        }
   
    .know a
        {
            padding: 10px;
            font-size: 16px;
        }
    .ind a
        { 
            padding: 10px;
            font-size: 16px;
        }
}
@media only screen and (max-width: 900px)
{
	#service h1{font-size: 41px;}
	.strip1 h1{font-size: 41px;}
	#contact p{font-size: 20px;}
     .blue
        {
            font-size: 14px;
            padding: 9px 14px;
        }
    .yellow
        {
            font-size:30px;
            padding: 9px 14px;
        }
   
    .know a
        {
            padding: 8px;
            font-size: 14px;
        }
    .ind a
        { 
            padding: 8px;
            font-size: 14px;
        }
}
@media only screen and (max-width: 800px)
{
	#service h1{font-size: 40px;}
	.strip1 h1{font-size: 40px;}
	#contact p{font-size: 19px;}
    .blue
        {
            font-size: 13px;
            padding: 8px 12px;
        }
    .yellow
        {
            font-size:28px;
            padding: 8px 12px;
        }
   
    .know a
        {
            padding: 6px;
            font-size: 13px;
        }
    .ind a
        { 
            padding: 6px;
            font-size: 13px;
        }
        .btnn8,.btnn9,.btnn10{display: none;}
}
@media only screen and (max-width: 700px)
{
	#service h1{font-size: 38px;}
	.strip1 h1{font-size: 38px;}
	#contact p{font-size: 18px;}
    .navbar-nav {
    margin: 0px;
}
	.btnn7 
	{
	    width: 135px;
	    height: 29px;
	    font-size: 15px;
	}
    .example-image{width: 90%;}
    .blue
        {
            font-size: 12px;
            padding: 7px 11px;
            margin: 0px;
        }
    .yellow
        {
            font-size:24px;
            padding: 7px 11px;
            margin: 0px;
        }
   
    .know a
        {
            padding: 6px;
            font-size: 12px;
        }
    .ind a
        { 
            padding: 6px;
            font-size: 12px;
        }
	
}
@media only screen and (max-width: 600px)
{
	#service h1{font-size: 34px;}
	.strip1 h1{font-size: 34px;}
	#contact p{font-size: 17px;}
	.carousel-indicators{display: none;}
    .main{width: 70%;top:30%;}
    .blue
        {
            font-size: 12px;
            padding: 6px 6px;
        }
    .yellow
        {
            font-size:22px;
            padding: 6px 6px;
        }
   
    .know a
        {
            padding: 5px;
            font-size: 11px;
        }
    .ind a
        { 
            padding: 5px;
            font-size: 11px;
        }
}
@media only screen and (max-width: 550px)
{
    .btn1
    {
        top: 80%;
    }
}
@media only screen and (max-width: 500px)
{
	#service h1{font-size: 29px;}
	.strip1 h1{font-size: 29px;}
	#contact p{font-size: 16px;padding-bottom: 8px;margin: 0;}
    .blue
        {
            font-size: 11px;
            padding: 4px 4px;
        }
    .yellow
        {
            font-size:18px;
            padding: 4px 4px;
        }
   
    .know a
        {
            padding: 4px;
            font-size: 11px;
        }
    .ind a
        { 
            padding: 4px;
            font-size: 11px;
        }
}
@media only screen and (max-width: 450px)
{
	#service h1{font-size: 28px;}
	.strip1 h1{font-size: 28px;}
	#contact p{font-size: 16px;}
	.btnn7 
	{
	    width: 120px;
	    height: 24px;
	    font-size: 14px;
	    padding: 4px;
	}
    .main
    {
        top:25%;
    }
    .btn1
    {
        top:80%;
    }
    .blue
        {
            font-size: 11px;
            padding: 2px 2px;
        }
    .yellow
        {
            font-size:15px;
            padding: 2px 2px;
        }
   
    .know a
        {
            padding: 2px;
            font-size: 11px;
        }
    .ind a
        { 
            padding: 2px;
            font-size: 11px;
        }
}
@media only screen and (max-width: 425px)
{
	#service h1{font-size: 21px;}
	.strip1 h1{font-size: 21px;}
	#contact p{font-size: 16px;}
}
@media only screen and (max-width: 400px)
{
	#service h1{font-size: 21px;}
	.strip1 h1{font-size: 21px;}
	#contact p{font-size: 14px;}
    .main
    {
        top:25%;
    }
    .blue
        {
            font-size: 10px;
            padding: 2px 2px;
        }
    .yellow
        {
            font-size:14px;
            padding: 2px 2px;
        }
   
    .know a
        {
            padding: 2px;
            font-size: 11px;
        }
    .ind a
        { 
            padding: 2px;
            font-size: 10px;
        }
        .home1
        {
        	display: none;
        }
        .small
        {
        	display: block;
        }
}
@media only screen and (max-width: 365px)
{
    .main
    {
        top:35%;
    }
    .blue
        {
            font-size: 10px;
            padding: 2px 2px;
        }
    .yellow
        {
            font-size:12px;
            padding: 2px 2px;
        }
   
    .know a
        {
            padding: 2px;
            font-size: 11px;
        }
    .ind a
        { 
            padding: 2px;
            font-size: 10px;
        }
    
}
@media only screen and (max-width: 350px)
{
	#service h1{font-size: 18px;}
	.strip1 h1{font-size: 18px;}
	#contact p{font-size: 14px;}
}
@media only screen and (max-width: 320px)
{
	
}